.activationContainer {
    justify-content: end;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    background: var(--White, #fff);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    gap: 24px;
    font-family: Expo Arabic, sans-serif;
    flex-wrap: nowrap;
    padding: 0px 20px;
    margin-top: 10px;
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .activationContainer {
      padding: 0 20px;
    }
  }
  
  .button {
    align-self: stretch;
    border-radius: 50px;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: auto 0;
    padding: 16px 40px;
    border: none;
    cursor: pointer;
  }

.activateButton {
  background: var(--success-shade, #e1ffc9);
  color: var(--success, #4a9908);
}
.deactivateButton {
  background: #FAE4E4;
  color: #D61B1B;

}
  
  
  @media (max-width: 991px) {
    .activateButton {
      padding: 0 20px;
    }
    .deactivateButton{
      padding: 0 20px;

    }
  }
  
  .headerContent {
    align-self: stretch;
    display: flex;
    /* min-width: 240px; */
    flex-direction: column;
    color: var(--Text, #252422);
    justify-content: center;
    flex: 1;
    flex-basis: 80px;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .headerContent {
      max-width: 100%;
    }
  }
  
  .activationTitle {
    font-size: 24px;
    font-weight: 600;
    align-self: end;
  }
  
  .activationDescription {
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin-top: 8px;
  }
  
  @media (max-width: 991px) {
    .activationDescription {
      max-width: 100%;
    }
  }
  @media (max-width: 993px) {
    .topstate{
      top:101% ;
    }
  
    .overflowstatus{
      overflow-y: scroll;
    }
  .mainContainer_product {
  
    display: block;
    width: 100%;
    }
    .mainContainer_product .left{
      width: 100%;
      
    }
    .details{
      width: 100%;
  
    }
    
    .fileds{
      width: 100%;
      margin: auto;
    }
    .highstate{
      height: 219vh;
    }
    .hideicon{
      display: none;
    }
  }
  
  @media (min-width: 901px) {
    
  
    .topstate{
      top:50% ;
    }
  
  /* .details{
  
  
  
  
    width: 40%;
  
  }} */}
  @media (min-width: 994px) {.highstate{
    height: 100vh;
  }
    .overflowstatus{
      overflow: hidden;
    }
    .topstate{
      top:50% ;
    }
   
  .details{
  
  
  
  
    width: 50%;
  
  }
    .mainContainer_product {
    
      display: flex;
      /* width: 100%; */
      }
      .filterss{
        flex-wrap: wrap;
      }
     
    }
    
    /* تبديل ف المنتجات  */
  
    @media (max-width: 761px) {
  .hide{
    display: none;
  }
      .mainContainer_product {
      
        display: flex;
        /* width: 100%; */
        }
        .filterss{
          flex-wrap: wrap;
        }
       
      }
      /* تبديل ف المنتجات  */
      @media (min-width: 762px) {
        .hide{
          display: flex;
        }
        .smallproductcardcover{
          display: none;
        }
      } 
      @media (max-width: 562px) {
  .topstate{
    top: 131%;
  }
  
      }
      @media (max-width: 555px) {
        .topstate{
          top: 110%;
        }
        
            }
  
        
        
        .smallproductcardcover{
          margin: 32px 0;
    
          border-Radius: 16px;
          border: 1px solid rgba(0, 47, 54, 0.08);
          background: #fff;
        
          width: 100%;
          padding: 10px
      ;
      }
  
        .smallproductcard{
         
          display: flex;
        
          align-items: center;
          justify-content: space-around;
         
      ;
      }
      .line:before{
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        top: 0;
        background-color: black;
        border:  1px solid gray;
      }.loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: #FFF #FFF transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after,
      .loader::before {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent #FF3D00 #FF3D00;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
      }
      .loader::before {
        width: 32px;
        height: 32px;
        border-color: #FFF #FFF transparent transparent;
        animation: rotation 1.5s linear infinite;
      }
          
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
          